{% load static %}

 <head>
    {% block head %}

      {% block meta %}
          <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      {% endblock %}

      <title>{% block title %}{% if name %}{{ name }} – {% endif %}Reporting{% endblock %}</title>

      {% block style %}
        {% block bootstrap_theme %}
         <link rel="stylesheet" type="text/css" href="{% static "c3/c3.css" %}"/>
{#          <link rel="stylesheet" type="text/css" href="{% static "staticfiles/css/bootstrap.min.css" %}"/>#}
          <link rel="stylesheet" type="text/css" href="{% static "staticfiles/css/bootstrap.min.css" %}"/>
          <link rel="stylesheet" type="text/css" href="{% static "staticfiles/css/bootstrap-tweaks1.css" %}"/>
            <link rel="stylesheet" type="text/css" href="{% static "staticfiles/docs/css/base.css" %}"/>
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static "staticfiles/css/prettify.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "staticfiles/css/default.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "staticfiles/css/sidebar.css" %}"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css">

        {% if code_style %}<style>{{ code_style }}</style>{% endif %}
      {% endblock %}

    {% endblock %}
  </head>