<div class="sidebar">
    <h3 class="brand"><a href="#"></a></h3>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list" >
        <li>
            <a  href="#_challan_list" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Challans Form<span class="arrow"></span></a>
            <ul class="collapse list-unstyled" id="_challan_list">
            </ul>
        </li>
        <li>
            <a  href="#_challan_data_list" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Challan Data<span class="arrow"></span></a>
            <ul class="collapse list-unstyled" id="_challan_data_list">
            </ul>
        </li>

    </div>

</div>

<div class="modal fade" id="_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lgs">
    <div class="modal-content">
         <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title" id="_form-title"></h2>
        </div>
        <div class="modal-body">
            <div class="row hidden" id="_success-message">
                <div class="col-sm-12">
                    <div class="alert alert-success">
                            <strong>Success!</strong> Form successfuly submitted.
                    </div>
                </div>
            </div>
            <form class="form-horizontal" id="_form-body">

            </form>
        </div>
    </div>
  </div>
</div>















