{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
   {% include "components/header.html" %}
<body style="background-color:#F6EFED  ">
  {% include "components/navbar.html" %}
  <div class="">
{#      <div class="col-sm-2 top">#}
         {% include "components/sidebar.html" %}
{#      </div>#}
      <div class="col-sm-8 col-sm-offset-2">
          <div class=" top">
            <main>
              {% block content %}
              {% endblock %}
            </main>
          </div>
      </div>

  </div>

 {% block script %}
     <script src="{% static "staticfiles/js/jquery-3.3.1.min.js" %}"></script>
     <script src="{% static "staticfiles/js/ajax-form.js" %}"></script>
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

     {#      <script src="{% static "staticfiles/js/csrf.js" %}"></script>#}
     <script src="{% static "staticfiles/js/bootstrap.min.js" %}"></script>
     <script src="{% static "staticfiles/js/prettify-min.js" %}"></script>
     <script src="{% static "staticfiles/js/loadash.js" %}"></script>
     <script src="{% static "staticfiles/js/custom.js" %}"></script>
     <script src="{% static "staticfiles/js/charts.js" %}"></script>
     <script src="{% static "staticfiles/js/sidebar.js" %}"></script>
     {#      <script src="{% static "staticfiles/js/default.js" %}"></script>#}
     <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>


<!-- Load d3.js and c3.js -->

<script src="{% static "c3/c3.min.js" %}"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
    {% block afterscript %}
    {% endblock %}

{% endblock %}

   </body>
</html> 