{% extends "base.html" %}

{% block content %}

            <select class="form-control" id="task-summary-drop">
                  <option value="7">1 Week</option>
                  <option selected value="14">2 Weeks</option>
                  <option value="30">30 Days</option>
                  <option value="90">3 Months</option>
                  <option value="custom">Custom Range</option>
            </select>
            <div class='hidden' id="task-summary-custom">
                <p>Start: <input type="text" id="task-summary-start"></p>
                <p>End: <input type="text" id="task-summary-end"></p>
            </div>
            <button id="task-summary-btn"> Apply Filter</button>
            <div class="row">
                <div class="col-sm-4">
                   <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <h3>Early Finish</h3>
                            <h1 id="_early_finish"></h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <h3>Late</h3>
                            <h1 id="_late"></h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body text-center">
                            <h3>On Time</h3>
                            <h1 id="_on_time"></h1>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row">
        <div class="col-sm-6">
           <select id="late-drop">
              <option value="7">1 Week</option>
              <option selected value="14">2 Weeks</option>
              <option value="30">30 Days</option>
              <option value="90">3 Months</option>
              <option value="custom">Custom Range</option>
            </select>
            <div class='hidden' id="late-custom">
                <p>Start: <input type="text" id="late-start"></p>
                <p>End: <input type="text" id="late-end"></p>
            </div>
             <button id="late-btn"> Apply Filter</button>
            <div id="late"></div>
        </div>
        <div class="col-sm-6">
            <select id="on-time-drop">
              <option value="7">1 Week</option>
              <option selected value="14">2 Weeks</option>
              <option value="30">30 Days</option>
              <option value="90">3 Months</option>
             <option value="custom">Custom Range</option>
            </select>
            <div class='hidden' id="on-time-custom">
                <p>Start: <input type="text" id="on-time-start"></p>
                <p>End: <input type="text" id="on-time-end"></p>
            </div>
            <button id="on-time-btn"> Apply Filter</button>
            <div id="on-time"></div>
        </div>
    </div>

 

 


    {% endblock %}
 {% block afterscript %}
       <script>   
     $(document).ready(function(){
        $( "#task-summary-start" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#task-summary-end" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#late-start" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#late-end" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#on-time-start" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#on-time-end" ).datepicker({ dateFormat: 'yy-mm-dd' });
        const project_id = getUrlParameter('project_id');
        const integration_id = getUrlParameter('integration_id');


        $('#task-summary-drop').on('change', function() {
            if(this.value=='custom'){
                $("#task-summary-custom").removeClass('hidden')
            }
            else{

                $("#task-summary-custom").addClass('hidden')
            }
        });

        $('#late-drop').on('change', function() {
            if(this.value=='custom'){
                $("#late-custom").removeClass('hidden')
            }
            else{

                $("#late-custom").addClass('hidden')
            }
        });

        $('#on-time-drop').on('change', function() {
            if(this.value=='custom'){
                $("#on-time-custom").removeClass('hidden')
            }
            else{

                $("#on-time-custom").addClass('hidden')
            }
        });



        let task_status = function(data){
        const parsed_data = JSON.parse(data);
        if(parsed_data.early_finish){

            $('#_early_finish').empty();
            $('#_early_finish').append(parsed_data.early_finish)
        }
        else{

            $('#_early_finish').empty();
            $('#_early_finish').append('0')
        }

        if(parsed_data.late){

            $('#_late').empty();
            $('#_late').append(parsed_data.late)
        }
        else{

            $('#_late').empty();
            $('#_late').append("0")
        }

        if(parsed_data.on_time){

            $('#_on_time').empty();
            $('#_on_time').append(parsed_data.on_time)
        }
        else{

            $('#_on_time').empty();
            $('#_on_time').append("0")
        }




        };
        function pie_chart_data(data){

            let dataArray = [];
            _.forEach(data,function (object,index) {
                dataArray[index] = [];
                dataArray[index].push(object.current_status);
                dataArray[index].push(object.count);
            });
            return dataArray
        }

        let late_chart = function(data){
            chart('late','pie',pie_chart_data(data))
        };

        let on_time_chart = function(data){
         chart('on-time','pie',pie_chart_data(data))

        };

        ajaxCall('chart/late/late/?filter_duration=7&project_id='+project_id+'&integration_id='+integration_id,
            'GET',
            'JSON',
            late_chart
        );
        ajaxCall('chart/on-time/on-time/?filter_duration=7&project_id='+project_id+'&integration_id='+integration_id,
            'GET',
            'JSON',
            on_time_chart
        );



        ajaxCall('chart/task-status/task-status/?filter_duration=14&project_id='+project_id+'&integration_id='+integration_id,
            'GET',
            'JSON',
            task_status
        );

        $( " #task-summary-btn" ).click(function() {
            selectedOption = ""
        if ($( "#task-summary-drop").val()=='custom'){
            start = $('#task-summary-start').val()
            end = $('#task-summary-end').val()
            selectedOption = start + ' ' + end
        }
        else{
            selectedOption = $( "#task-summary-drop option:selected" ).val();

        }
        
        ajaxCall('chart/task-status/task-status/?filter_duration='+selectedOption+'&project_id='+project_id+'&integration_id='+integration_id,
            'GET',
            'JSON',
            task_status
        );
        });

        $( " #late-btn" ).click(function() {
          selectedOption = ""
        if ($( "#late-drop").val()=='custom'){
            start = $('#late-start').val()
            end = $('#late-end').val()
            selectedOption = start + ' ' + end
        }
        else{
            selectedOption = $( "#late-drop option:selected" ).val();

        }
         ajaxCall('chart/late/late/?filter_duration='+selectedOption+ '&project_id='+project_id+'&integration_id='+integration_id,
            'GET',
            'JSON',
            late_chart
        );
        });


        $( "#on-time-btn" ).click(function() {
          selectedOption = ""
        if ($( "#on-time-drop").val()=='custom'){
            start = $('#on-time-start').val()
            end = $('#on-time-end').val()
            selectedOption = start + ' ' + end
        }
        else{
            selectedOption = $( "#on-time-drop option:selected" ).val();

        }
        ajaxCall('chart/on-time/on-time/?filter_duration='+selectedOption+'&project_id='+project_id+'&integration_id='+integration_id,
            'GET',
            'JSON',
            on_time_chart
        );

        });
})
</script>
 {% endblock %}