{% extends "base.html" %}
{% block content %}
    <p class="hidden" id="_task_id">{{ task_id}}</p>
    <div id="_project_data">

    </div>
{% endblock %}

 {% block afterscript %}
    <script>
    $(document).ready(function(){
        const workspace_id = getUrlParameter('workspace_id');
        const integration_id = getUrlParameter('integration_id');

        let response = function(data){
            let html = '';
            let cond = true;
            _.forEach(data.results, function(object) {
                cond = true;
                for (let index = 0; index <= $('#_project_data').find('label').length; index++){
                      let project_label = $('#_project_data').find('label').attr('data-id');
                        if (project_label==object.external_id){
                            return false
                        }
                        if(cond){
                             html += "<div class='row padding_bottom'>"+
                                    "<div class='col-sm-4 col-sm-offset-2'>"+
                                    "<label data-id="+object.external_id+">"+object.name+"</label>"+
                                "</div>"+
                                "<div class='col-sm-4'>"+
                                    "<a class='btn btn-info' href=/project/?project_id="+object.id+"&&integration_id="+object.integration_id+">Fetch Tasks</a>"+
                                "</div>"+
                              "</div>"
                        }
                }
            });
            $('#_project_data').append(html)
        };
        ajaxCall('projects?workspace_id='+workspace_id+'&integration_id='+integration_id,
                'GET',
                'JSON',
                response
        );


        let status_response = function(data){
            if (data.results[0].status=='processing')
                    {
                         setTimeout(function () {
                            ajaxCall('projects?workspace_id='+workspace_id+'&integration_id='+integration_id,
                                'GET',
                                'JSON',
                                response
                              );
                            checkStatus();
                        },2000);
                    }
        }

        function checkStatus() {
            ajaxCall('job_status?task_id=' + $('#_task_id').html(),
                'GET',
                'JSON',
                status_response
            );
        }

    checkStatus();
    })
    </script>
 {% endblock %}

