{% extends "base.html" %}
{% block content %}
    <p class="hidden" id="_task_id">{{ task_id}}</p>
             <table class="table">
                    <thead>
                         <tr>
                            <th>Task Content</th>
                            <th>Comments </th>
                        </tr>
                    </thead>
                    <tbody id="_task_data">
                    </tbody>
             </table>
{% endblock %}

 {% block afterscript %}
    <script>
    $(document).ready(function(){


        const project_id = getUrlParameter('project_id');
        const integration_id = getUrlParameter('integration_id');

        let response = function(data){
            let html = '';
            let cond = '';
            _.forEach(data.results, function(task) {
                cond = true;
                for (let index = 0; index <= $('#_task_data').find('tr').length; index++){
                      let task_label = $('#_task_data').find('tr').eq(index).find('td').find('label').attr('data-id');

                        if (task_label==task.external_id) {

                            cond = false;
                            return false
                        }

                }
                if (cond) {
                    let nested_html = '';
                    _.forEach(task.comment_set, function (comment) {
                        nested_html += "<ul>" +
                            "<li>" +
                            "<label>" + comment.text + "</label>" +
                            "</li>" +
                            "</ul>"
                    });
                    html += "<tr data-id=_" + task.external_id + ">" +
                        "<td>" +
                        "<label data-id=" + task.external_id + ">" + task.name + "</label>" +
                        "</td>" +
                        "<td>" +
                        nested_html +
                        "</td>" +
                        "</tr>"

                }
            });
             $('#_task_data').append(html)

        };

        ajaxCall('task?project_id='+project_id+'&integration_id='+integration_id,
                'GET',
                'JSON',
                response
        );

        let status_response = function(data){
            if (data.results[0].status=='processing')
                    {
                         setTimeout(function () {
                            ajaxCall('task?project_id='+project_id+'&integration_id='+integration_id,
                                    'GET',
                                    'JSON',
                                    response
                            );
                            checkStatus();
                        },2000);
                    }
        }



        function checkStatus() {
            ajaxCall('job_status?task_id=' + $('#_task_id').html(),
                'GET',
                'JSON',
                status_response
            );
        }

    checkStatus();

    })
    </script>
 {% endblock %}